.popular-article-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 590px;
    grid-column-gap: 1.5rem;
}

.left .article {
    background-color: grey;
    width: 100%;
    height: 580px;
}

.right {
    display: grid;
    grid-template-rows: 330px 1fr;
    grid-template-areas: 'a' 'b';
    grid-row-gap: 1rem;
}

.right>.article {
    grid-area: a;
    background-color: blue;
    width: 100%;
}

.sub-article {
    grid-area: b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: end;
}

.sub-article .article {
    width: 100%;
    max-height: 230px;
    overflow: hidden;
    position: relative;
}

.sub-article .article:nth-of-type(1) {
    background-color: red;
}

.article:nth-of-type(2) {
    background-color: green;
}

.blue-underline::before {
    content: "";
    margin-top: 15px;
    width: 100%;
    height: 5px;
    background-color: #2DB3D0;
    position: absolute;
    bottom: 0;
}

.green-underline::before {
    content: "";
    margin-top: 15px;
    width: 100%;
    height: 5px;
    background-color: #198754;
    position: absolute;
    bottom: 0;
}

.orange-underline::before {
    content: "";
    margin-top: 15px;
    width: 100%;
    height: 5px;
    background-color: #FF9D09;
    position: absolute;
    bottom: 0;
}

.carousel-article-image {
    width: 100%;
    height: 580px;
    object-fit: cover;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
}

.carousel-article-image:hover {
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.header-article-description {
    padding: 1rem 1rem 0 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.header-article-image {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
}

.header-article-image:hover {
    filter: brightness(0.8);
    -webkit-filter: brightness(0.5);
}

.header-article-image:first-of-type {
    height: 330px;
}

@media screen and (max-width: 550px) {
    .popular-article-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 0.75rem;
    }
    .left .article {
        height: auto;
        background-color: #fff;
    }
    .carousel-article-image {
        object-fit: cover;
        background-color: #fff;
        height: 330px;
    }
    .header-article-image {
        height: 235px;
    }
    .sub-article {
        grid-area: b;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: end;
        grid-gap: 0.75rem;
    }
}